html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.container{
  perspective: 1500px;
  transform-style: preserve-3d;
  width: 50%;
  margin: 200px 25%;
  border: 1px solid green;
  height: 20vw;
  /* width: 60vw; */
}
.card{
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

.card img{
  width: 100%;
}

.front{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card1{
  transform: translateZ(0px) rotateZ(0deg) rotateY(0deg);
  transition: all 1s;
}

.container:hover .card1{
  transform: translateZ(0px) rotateZ(0deg) rotateY(180deg);
}


.back{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.no-show img{
  opacity: 0;
}